.popup__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  color: black;
  padding: 34px 0 41px 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 505px) {
  .popup__title {
    padding: 26px 0px 70px 22px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    max-width: 84%;
  }
}
